        html{
          height: 100%;
          width: 100%;
          background-color: lightgray;
          overflow: auto;
          }
        main {height: 85%; 
          width: 100%;
                margin: 0;
                padding-bottom: 3%;}

        body{
          width: 100%;
          margin-top: 0;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 5%;
          border: 1px solid;
          overflow: inherit;
          background-color: #0b9be3;
          text-align: center;
          font-family: verdana, arial, sans-serif;
          color: #0b9be3;
          font-size: 16px;
          font-weight: normal;}

          li{display: inline;
            float: left;}
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: left;
          }
          a {display: block;
            padding: 8px;
            background-color: #0b9be3;
            }

            #content img,
            #content a{
                 display: block;
                 margin: 0 auto;
                 width: 400px;
            }

            #logo { margin-top: 0px;
                    left: 0px;
                    padding-top: 10%;
                    background-image: url(./images/logo.png);
                    background-repeat: no-repeat;
                    background-position: center;}

              #facebook {
                    height: 50px;
                    width: 50px;
                    background-size: cover;
                    display: block;
            }
            #youtube {
                    height: 50px;
                    width: 80px;
                    background-size: cover;
                    display: block;
            }
            #twitter {
                    height: 50px;
                    width: 50px;
                    background-size: cover;
                    display: block;
            }

            .navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;

}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: left;
  text-decoration: none;
  font-size: 17px;
  align-items: none

}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #0b9be3;
  color: white;
}


footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    float: left;
    width: 100%;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

footer img{
    margin: 0;
    width: 4%;
}

footer p{
    margin: 0;
    color: white;
  }
  h3{
text-align: center;
  }

windsurfing{
  height: 1%;
  width: 1%;
}

#p h3 {
  color = #0b9be3;
}
